body{
    background-color: #f0f2f5;
}
input{
    border-radius: 15px;
    border-color: #dadde1;
}

.fontstyle{
    float: left;
    position: relative;
    left: 142px;
    top:218px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
}
.inputcard{
    float: left;
    position: relative;
    left: 725px;
    bottom: 53px;
    width: 396px;
    height: 351px;
}
::-webkit-input-placeholder{
    font-size:106%;
    font-family: Helvetica, Arial, sans-serif;
    color:#90949c;
    float: left;
    position: relative;
    left: 0px;
    bottom: 1px;
}
.hr-1{
 align-items: center;
border-bottom: 1px solid #dadde1;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: rgb(218, 221, 225);
display: flex;
margin: 20px 16px;
margin-top: 4px;
margin-right: 16px;
margin-bottom: 20px;
margin-left: 0px;
text-align: center;
width: 365px;
}
.footer-x{
    width: 100px;
    height: 200px;
    float: left;
    position: relative;
    left:-104px;
    top: 100;

}

.input-2:focus {
    outline: none !important;
    border:3px solid blue;
    /* box-shadow: 0 0 10px #719ECE; */
}

.p-50{
    padding-top: 50px !important;
}