body{
    background-color: #ddd;
}

.navbar-brand img{
    height: 45px;
    border-radius: 10px;
}

.carousel-inner img{
    height: 250px;
}

.card-img-top{
    height: 250px;
}

div.container div.row div.col-md-5 div.card{
    margin: 5px 0;
}